table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tbody {
    display: inline-block;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td p {
    margin: 2px;
    padding: 2px;
}

.calculateTap {
    float: right;
    margin: 10px;
    padding: 10px;
}

.emptyCheckboxes {
    float: left;
    margin: 10px;
    padding: 10px;
}

.productColumn {
    width: 200px;
}

.priceColumn {
    width: 50px;
}

.whoseColumn {
    width: 110px;
}

.foodOrProductColumn {
    width: 90px;
}

.personsRadioClass {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pdfInput {
    margin-bottom: 20px;
}

.personPrices {
    margin-top: 70px;
    display: grid;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    td,
    th {
        font-size: 11px;
    }
}
